.header{
  width: 100vw;
  position: fixed;
  height: 48px;
  top: 0;
  z-index: 999;
}

.topnavColapse {
  background-color: #e20479;
  overflow: hidden;
  border-radius: 5px;
  max-width: 750px;
  height: 48px;
  margin: 0px auto 32px;
  align-items: center;
  font-family: monospace;
  display: none;
}

.topnavColapse a {
  color: #f2f2f2;
  height: 30px;
  width: 30px;
  border: solid 1px;
  border-radius: 5px;
  font-family: serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  justify-content: center;
  cursor: pointer;
} 

.topnav {
  background-color: #e20479;
  overflow: hidden;
  border-radius: 5px;
  max-width: 750px;
  height: 48px;
  margin: 0px auto 32px;
  display: flex;
  align-items: center;
  font-family: monospace;
}
.topnav a {
  color: #f2f2f2;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: rgb(184, 6, 125);
}

.topnav a.active {
  background-color: rgb(184, 6, 125);
}

.divContent {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 750px;
  flex-direction: column;
  align-items: center;
}

.content_1{
  width: 100%; 
  height: 25vh; 
  display: flex;
}

.content_1A{
  width: 55%;
  height: 100%;
}

.containerTag{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  margin-left: 70%;
}

.tag {
  width: 100px;
    height: 100px;
    border-radius: 4px 4px;
    background-color: #00fffa;
    position: absolute;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: cursive;
}

.tag span {
  color: #fff;
}

.arrow {
  position: absolute;
    top: 99px;
    left: 37px;
}
.arrow .t2 {
  border-width: 14px;
    position: absolute;
    border-style: solid dashed dashed dashed;
    border-color: transparent transparent #00fffa;
    transform: rotate(180deg);
}

.containerInput{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
}

.inputA{
  height: 35px;
  margin: 0% 2% 0% 8%; 
  width: 60%;
  border: solid 1px #cfcbcb;
  border-radius: 5px;
  font-size: 18px;
  font-family: cursive;
}

.inputA::placeholder{
  color: #cfcbcb;
}

.boton{
  height: 39px; 
  width: 39px; 
  background-color: #00fffa; 
  border: solid 1px #00d0ff; 
  border-radius: 5px;
}

.content_1B{
  width: 45%;
}

.containerButtons {
  background-color: #5fff17;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  height: 48px;
  box-shadow: 2px 2px 0px 0px #cdcdcd;
  display: flex;
    justify-content: center;
    align-items: center;
}

.containerButtons a {
  float: left;
  color: #635d5d;
  font-size: 19px;
  font-weight: 600;
  font-family: cursive;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  cursor: pointer;
}

.bordes{
  border-right: solid 1px #635d5d; 
  border-left: solid 1px #635d5d;
}

.containerButtons a:hover {
  background-color: #4dd30e;
}

.content_2{
  width: 100%; 
  height: 50vh; 
}

.slideshow-container {
  position: relative;
  margin: auto;
  margin-top: 20px;
  height: 30vh;
  background-color: #00fffa87;
  border-radius: 5px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 36%;
  right: 96%;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background: #fff;
  color: #00fffa;
  border: solid 1px #cfcbcb;
  font-family: cursive;
}

.next {
  right: -5%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.footerTab{
  float: right;
  font-family: cursive;
  font-weight: 800;
  color: #00fffa87;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

@media (max-width: 700px) {
  .content_1{
    display: grid;
    height: 63vh;
  }

  .content_1A, .content_1B{
    width: 100%;
  }

  .content_1A{
    height: 40vh;
  }


  .boton{
    margin-top: 10px;
  }

  .containerTag{
    justify-content: center;
    margin-left: 0%;
    height: 50%;
    margin-bottom: 20px;
  }

  .containerInput{
    display: contents;
  }

  .inputA{
    margin: 0;
    width: 100%;
  }

  .containerButtons{
    height: auto;
    display: block;
  }

  .containerButtons a{
    height: 48px;
    width: 100%;
  }

  .bordes{
    border-right: none; 
    border-left: none;
      border-top: solid 1px #635d5d; 
      border-bottom: solid 1px #635d5d;
  }

  .next{
    right: -5%;
  }

  .prev{
    right: 86%;
  }

  .topnavColapse{
    display: flex;
  }

  .topnav{
    display: none;
  }
}