<div class="paginaCompleta">
  <div class="conBotones">
    <button type="button" class="btn btn-success" style="margin-right: 10px;" routerLink="/agregarNota">Agregar nueva nota</button>
    <button type="button" class="btn btn-default btn-danger" (click)="fnCerrarSesion()">Cerrar sesion</button>
  </div>
  <hr>
  <div class="container">
    <div *ngIf="!boolDatos">
      <h4> Aun no tienes notas.</h4>
    </div>
    <div style="text-align: center;" *ngIf="boolDatos">
      <h2> Lista de notas.</h2>
    </div>
    <table class="table" *ngIf="boolDatos">
      <thead>
        <tr>
          <th scope="col">Titulo</th>
          <th scope="col">Contenido</th>
          <th scope="col">Fecha de creacion</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nota of listaNotas let i = index ">
          <td scope="col">{{nota.strTitulo}}</td>
          <td scope="col">{{nota.strContenido}}</td>
          <td scope="col">{{nota.created_at}}</td>
          <td scope="col">
            <button type="button" class="btn btn-default btn-primary" [routerLink]="['/agregarNota',nota.iIdNota]">
               Editar
            </button>
            |
            <button type="button" class="btn btn-default btn-danger" (click)="fnEliminarNota(nota.iIdNota)">
               Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>