<div class="login">
  <form class="formLogin" [formGroup]="formLogin" (ngSubmit)="fnLogin()" novalidate>
    <h1>Iniciar Sesion</h1>
    <input formControlName="strEmail" type="email" class="form-control" name="email" placeholder="Correo"/>
    <input formControlName="strPassword" type="password" class="form-control" name="password" placeholder="Contraseña"/>
    <button [disabled]="!formLogin.valid" type="submit" style="margin-right: 10px;" class="btn btn-success">Iniciar sesion</button>
    <button class="btn btn-primary" routerLink="/registro">Registrarse</button>
  </form>
</div>