.paginaCompleta{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.conRegistro{
    width: 600px; 
    box-shadow: 0px 0px 30px rgb(129, 129, 134); 
    margin-top: 50px;
    height: fit-content;
    padding: 30px;
}