<div class="paginaCompleta">
  <div class="container" class="conRegistro">
    <div style="text-align: center;" *ngIf="!boolEditar">
      <h4> Nueva Nota</h4>
    </div>
    <div style="text-align: center;" *ngIf="boolEditar">
      <h4> Editar Nota</h4>
    </div>
    <form [formGroup]="formAgregarNota" (ngSubmit)="!boolEditar ? fnGuardar() :  fnEditar()" >
      <div class="form-group">
        <label class="control-label col-sm-2" for="fname">Titulo:</label>
        <div class="col-sm-12">
          <input formControlName="strTitulo" class="form-control" id="strTitulo" placeholder="Titulo" type="text" name="strTitulo"
            required="true" />
          <span class="help-bpx" *ngIf="formAgregarNota.controls['strTitulo'].errors">
            <p class="text-danger" [hidden]="formAgregarNota.controls['strTitulo'].pristine">
              Campo requerido
            </p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="fname">Contenido:</label>
        <div class="col-sm-12">
          <input formControlName="strContenido" class="form-control" id="strContenido"
            placeholder="Contenido" type="text" name="Contenido" required="true" />
          <span class="help-bpx" *ngIf="formAgregarNota.controls['strContenido'].errors">
            <p class="text-danger" [hidden]="formAgregarNota.controls['strContenido'].pristine">
              Campo requerido
            </p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-12" style="display: flex;  justify-content: space-around;">
          <button id="btnsubmit" type="submit" class="btn btn-primary" style="margin-right: 20px;"
            [disabled]="!formAgregarNota.valid">Guardar</button>
            <button routerLink="/" type="button" class="btn btn-default btn-danger">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
