<div class="registroComplete">
  <form class="formRegistro" [formGroup]="formRegistrarUsuario" (ngSubmit)="fnRegistro()" novalidate>
    <h1>Registro</h1>
      <input formControlName="strEmail" type="email" name="strEmail" placeholder="Correo"/>
      <div *ngIf="formRegistrarUsuario.controls['strEmail'].errors && !formRegistrarUsuario.controls['strEmail'].pristine">
        <p class="text-danger" [hidden]="formRegistrarUsuario.controls['strEmail'].errors.patternInvalid">El correo no es valido
        </p>
      </div>
      <input formControlName="strPassword" (keyup)="fnValidarNumeroPassword($event)" type="password" name="strPassword" placeholder="Contraseña" />
      <div *ngIf="formRegistrarUsuario.controls['strPassword'].errors && !formRegistrarUsuario.controls['strPassword'].pristine || !passwordCorrect">
        <p class="text-danger">
          Password mayor a 5 caracteres y contener letras y numeros
        </p>
      </div>
      <input formControlName="strPasswordConfirm" (keyup)="fnValidarPassword($event)" type="password" name="strPasswordConfirm" placeholder="Repetir contraseña" compare="strPassword"/>
      <div *ngIf="!formRegistrarUsuario.controls['strPasswordConfirm'].pristine">
        <p class="text-danger" *ngIf="formRegistrarUsuario.controls['strPasswordConfirm'].errors">
          No coinciden las contraseñas
        </p>
      </div>
      <button type="submit" class="btn btn-success" style="margin-right: 10px;" [disabled]="!formRegistrarUsuario.valid">Registrarse</button>
      <button class="btn btn-primary" routerLink="/login">Iniciar Sesion</button>
  </form>
</div>